/* annouce */
.figcaption__text-direction
{
    writing-mode: vertical-lr;
    /* transform: rotateZ(90deg); Joshuwa's approach*/ 
  
    
}
.figure--announce
{
    justify-content: center;
    text-align: center;

}
/* grid-template-columns: 30% 70%; */

.image__icon--camera::before
{
content: url(../img/svg/camera-solid-full.svg);
display: block;
height: 1rem;
width: 1rem;
}

.some_icons
{
    height: 1.5rem;
    width: 1.5rem;
}
.image__icon--email::before
{
content: url(../img/svg/envelope-regular-full.svg);
display: block;
height: 1rem;
width: 1rem;
}
.comments::before
{
content: url(../img/svg/comments-regular-full.svg);
display: inline-block;
height: 1rem;
width: 1rem;

}
.dotter-bottom,.dotted-line,.dotted2
{
    border-bottom: 1px dotted black;
    height: 1rem;
    display: block;

}
.small-bar
{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.main-container
{
    display: grid;
    /* grid-template-columns: 10% auto; */
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    grid-template-rows: repeat(10,auto);
    
}

.side-main /* aside */
{
    display: grid;
    /* grid-template-columns: subgrid; */
    grid-template-rows: subgrid;
    grid-row: 3 / -1;
;
}

.row-1
{
    /* margin-top: auto; */
}
/* .row-2
{

display: flex;
flex-direction: column;
gap: 3rem;

} */
.figcaption__side-main
{
   
    grid-row: 2;
    /* margin-block: auto; */
    
}


.small-bar,.row-5
{

    grid-row: 6;
 
}

.hvem-context
{
       display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
}
.main-context
{
     display: grid;
    grid-template-rows: subgrid;
    grid-row: span 10;

}
.whom-sidemain
{
    
    grid-row: 5;
    
}
.row-2
{
   
     display: grid;
    grid-template-rows: subgrid;
    grid-row: span 10;

}

.underline_section2
{
   grid-row:5;
}


.container-more-context
{
position: relative;   
font-size: 1rem;
display: grid;
grid-template-columns: 1fr 1fr;


}

.the-more-context
{



}
.f-t-e
{
    display: flex;
align-items: center;
justify-content: center;
}
.fb 
{
    background-color: rgb(45, 45, 114);

}
.tweet
{
    background-color: rgb(122, 122, 151);
}

.slightly-more-context
{

}
.some-button
{
    display:inline-block ;
    height: 50px;
    width: 100px;

    font-weight: bold;
    text-align: center;
    margin: 10px;
    align-content: center;

}



.container-more-context::after
{
    content: "";
    background: linear-gradient(to top,white , transparent);

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:70%;

}
.blablabla-center
{
    margin: 2rem;
    text-align: center;
}
/* ----------læs------------- */
.laes
{
    display: grid;
}
.under-main-container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.information-web
{
    grid-column: 4;
    margin-top: 100px;
}
.h2-senest
{
     margin-top: 100px;
}
.under-main-container>figure{
    
}
.under-main-container>figure>figcaption>p
{
    padding: 0.50rem;
    font-weight: bolder;
    justify-content: center;
}

.seneste-liste>li>p
{
 padding: 0.50rem;
    font-weight: bolder;
}
/* --------------------------------------------------- */

.container-kommentarer-anbefallinger,.before-container
{
display: grid;
grid-template-columns: 1fr 3fr;
/* grid-template-rows: repeat(5,1fr); */
gap: 1rem;
margin-block: 4rem;
}

/* ------abonment----- */

.abonnetment-container
{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
}

.over-top-heading
{
      grid-row: 1;
    grid-column: 1 / -1;
}
.container-profil>p
{
    padding:10px;
}