.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-burg-menu {
  /* display: grid;
grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  gap: 4rem;
}

.burger-menu {
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
}

.input-header {
  display: none;
}

.header__button--search {

  background-color: white;
}

.header__button--search img {
  /* display: flex; */
  /* width: 2rem; */
  height: 2rem;
  aspect-ratio: 18/18;

}

.header__h1--logo {
  background-image: url(../img/information.svg);
  background-repeat: no-repeat;
  aspect-ratio: 468.72/79;
  height: 6rem;
  color: transparent;
}

.links-header nav {
  justify-content: center;
}

.navigation__ul--li {
  gap: 1rem;
}

.navigation__ul--li a{
  color: unset;
}
.red-text {
  color: brown;
}

a:visited {
  color: unset;
}

.login__user a {
  align-items: flex-end;
}

.img__user_login {
  height: 2rem;
  aspect-ratio: 18/18;
}

