/* resets , body rules */

* {
    margin: 0;
    /* remove default margin and padding from all elements */
    padding: 0;
    box-sizing: border-box;
    /* border boxing inward margin and padding without changing size */
    scroll-behavior: smooth;
    /* scrolling smoothly */
}

.wrapper

/* for width and margin left, right and top bottom */
    {
    max-width: 72.5rem;
    /* we started with 1160 px measurement */
    margin-inline: max((100% - 72.5rem) / 2, 1.5rem);
    /* take the hightest value */
    margin-block: 0.25rem;
    /* is margin top and bottom */
    font-size: 16px;
}


/* Ensure media elements fit within their container */
img,
video {
    max-width: 100%;
    height: auto;
}


h1,
h2,
h3 {
    line-height: 1;
}

/* Remove default anchor styles */

a {
    text-decoration: none;
   
    transition: 1s;
}

a:hover {
    font-weight: bolder;
    color: brown;

}


.selected {
    font-weight: bolder;

}

/* Box sizing rules */
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Remove list styles on ul and ol elements */
ul,
ol {
    list-style: none;
}

/* Remove default button styles */
button,
input,
select,
textarea {
    font: inherit;
}

button {
    border: none;
}

.flex-display {
    display: flex;
}



.link-looklike--button-gray /*button in grey color */
{
   background-color:  brown; 
    padding-inline: 2em;
    padding-block: 0.5em;
    border-radius: 10rem;
    color: black;
    text-decoration: none;
     border-style: none;
    border: 1px solid rgb(191, 189, 189);
    margin-inline:auto;
   font-weight: bold;
    
}
.link-looklike--button-gray:hover
{
    color: antiquewhite;
}