/* connecting another css file to this css files*/

@import url(resets.css);
/* RESETS & LAYOUT */
@import url(typography.css);
/* FONT TYPE STYLE AND SIZE */
@import url(header.css);
/* HEADER */
@import url(article_main.css);
/* main */

@import url(footer.css);
/* FOOTER */

.flex_display
{
    display: flex;
}
.grid_display
{
    display: grid;
}


main
{
    margin-inline: auto;
    max-width: 1024px;
}
.red-text
{
    color: red;
}
